/* common css for single and multiple plot mode */




/* $pink: #ff3466;
 * @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');
 * body {
 *     background: #424B54;
 *     font-family: 'Source Sans Pro', sans-serif;
 *     overflow: hidden;
 * }
 * 
 * form {
 *     display: flex;
 *     justify-content: center;
 *     align-items: center;
 *     position: relative;
 *     width: 100%;
 *     height: 100vh;
 * }
 * 
 * input {
 *     border: none;
 *     width: 170px;
 *     height: 25px;
 *     outline: none;
 *     padding-left: 10px;
 * }
 * 
 * .tooltip {
 *     position: relative;
 *     background: $pink;
 *     padding: 5px 12px;
 *     margin: 5px;
 *     font-size: 15px;
 *     border-radius: 100%;
 *     color: #FFF;
 * }
 * 
 * .tooltip:before,
 * .tooltip:after {
 *     position: absolute;
 *     content: '';
 *     opacity: 0;
 *     transition: all 0.4s ease;
 * }
 * 
 * .tooltip:before {
 *     border-width: 10px 8px 0 8px;
 *     border-style: solid;
 *     border-color: $pink transparent transparent transparent;
 *     top: -15px;
 *     transform: translateY(20px);
 * }
 * 
 * .tooltip:after {
 *     content: attr(data-tooltip);
 *     background: $pink;
 *     width: 160px;
 *     height: 40px;
 *     font-size: 13px;
 *     font-weight: 300;
 *     top: -75px;
 *     left: -10px;
 *     padding: 10px;
 *     border-radius: 5px;
 *     letter-spacing: 1px;
 *     transform: translateY(20px);
 * }
 * 
 * .tooltip:hover::before,
 * .tooltip:hover::after {
 *     opacity: 1;
 *     transform: translateY(-2px);
 * }
 * 
 * @keyframes shake {
 *     0% {
 * 	transform: rotate(2deg);
 *     }
 *     50% {
 * 	transform: rotate(-3deg);
 *     }
 *     70% {
 * 	transform: rotate(3deg);
 *     }
 * 
 *     100% {
 * 	transform: rotate(0deg);
 *     }
 * }
 * 
 * #anim:hover {
 *     animation: shake 500ms ease-in-out forwards;
 * } */


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 520px;
    background-color: #333333;
    /* color: #fff; */
    color: #FFFFDD;
    /* text-align: center; */
    text-align: left;
    border-radius: 6px;
    padding: 10px 20px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    /* margin-left: -60px; */
    margin-left: 60px;
    font-size: 18px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* .tooltip2{
 * 
 *     /\* 位置の情報 *\/
 *     position: relative; // 🐱NEW    display: inline-block;
 *     width: 1em;
 *     height: 1em;
 *     vertical-align: middle;
 * 
 *     /\* 中身の情報 *\/
 *     background: gray;
 *     border-radius: 100%;
 * 
 *     /\* * * ハテナマーク 🐱 * * *\/
 *     &::before {
 * 
 * 	/\* 位置の情報 *\/
 * 	position: absolute;
 * 	display: inline-block;
 * 	left: 50%;
 * 	top: 50%;
 * 	transform: translate(-50%, -50%) scale(0.6);
 * 
 * 	/\* 中身の情報 *\/
 * 	content: '?';
 * 	color: white;
 * 	font-size: 100%;
 * 	font-weight: bold;
 *     }
 * } */
